#conteneur {
	display: flex;
}
/* Je sélectionne les <li> du menu horizontal */
ul#menu_horizontal li { 
display : inline;
padding : 0 0.5em; /* Pour espacer les boutons entre eux */
}
ul#menu_horizontal {
list-style-type : none; /* Car sinon les puces se placent n'importe où */
}
header {
	text-align: center;
}
h1 {
	color: black;
}
h2, h3 {
	color: green;
}
article .p {
	color: green;
}
ul {
	color: green;
}
footer .p{
	color: black;
}
footer {
	text-align: right;
}
